#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_COMPILE_VERSION := 2.4

binary-post-install/gnank::
	dh_install debian/gnank.xpm usr/share/pixmaps
