
body {
	margin: 20px 5%;
	padding: 20px 50px;
	font-family: sans-serif;
}

img {
	border: 0;
}

p, li {
	line-height: 1.5;
}

h1 {
	display: inline;
}

h2 {
	font-size: 1.2em;
}

#logo {
	float: left;
	padding-left: 8%;
}

#titol {
	float: left;
	margin-top: 5px;
	margin-left: 30px;
}

#contingut {
	clear: both;
	padding-top: 10px;
}

.columna {
	float: left;
	width: 40%;
	margin: 0 5%;
}
